.bg-skyblue{
    background-color: #2BC8B5;
}

/* WELCOME */

.latest-products{
    background: #33C3A9;
    border-radius: 0px 60px 0px 0px !important;
    transform: rotate(-0.81deg);
}

.latest-products h1{
    font-weight: bold;
} 

.card-img-top {
    width: 100%;
    height: 200px;
    object-fit: scale-down;
}

.category{
    width: 100%;
    height: 49px;
    left: 40px;
    top: 484px;
    background: #2BC8B5;
}

.product-category-font-size{
    font-size: 18px;
}

.more-products{
    width: 100%;
    font-weight: bold;
    background-color: #33C3A9;
}

.more-products-text{
    font-size: 25px;
}

.cart-size{
    font-size: 35px !important;
}

.cart-home{
    margin-top: -84px;
}

#lblCartCount {
    font-size: 18px;
    background: #ff0000;
    color: #fff;
    padding: 0 5px;
    vertical-align: top;
    margin-left: -20px; 
    margin-top: -95px;
}

.img_cart{
    height: 80px;
    display: block;
    margin:10px auto;
}

.w-25{
    width: 35px !important;
    height: 40px;
}

.smaller-font-size{
    font-size: 25px;
}

/* PRODUCT DETAIL */
.margen{
    margin-top: 50px !important;
}

.detail-cart-size{
    font-size: 25px;
}

.product-description{
    font-size: 20px;
}

/* USER ACCOUNT */
.account-icon-size{
    font-size: 50px;
}

/* MESSAGE */

.message-icon-size{
    font-size: 35px;
}

.message-text-size{
    font-size: 20px;
}

/* ALL PRODUCTS */
.options-font-size{
    font-size: 18px;
}

/* ADD PRODUCT */

.option-font-size{
    font-size: 18px;
}